{% extends 'blog/base.htm' %} {% load static %} {% block content %} {% for post in posts %}
<link href="{% static 'css/home.css'%}" rel="stylesheet" />
<div class="post-new">
  <div class="col-10">
    <div class="card p-4 mb-5 w-75">
      <div class="row">
        <div class="col-10 pl-5 pt-2">
          <form class="form-group row">
            <h5>{{post.author}}</h5>
            <p class="card-subtitle mb-2 text-muted pl-3 pt-2">
              | {{post.date_posted}}
            </p>
          </form>
        </div>
        <div class="col-2"></div>
      </div>
      <hr />
      <a href="{% url 'post-detail' post.id %}">
        <img class="card-img-top" src="{{post.image.url}}" width="100%"
      /></a>
      <hr />
      <div class="card-body">
        <p class="card-text">{{post.content}}</p>
      </div>
      <hr />
      <div class="row pl-3">
        <div class="col-1">
          <a href="{% url 'post-detail' post.id %}">
            <button
              type="submit"
              name="post_id"
              value="{{post.id}}"
              class="btn btn-info btn-sm"
            >
              {{ post.likes.count }} Like
            </button>
          </a>
        </div>
        &nbsp;
        <div class="col-4">
          <a href="{% url 'post-detail' post.id %}">
            <button type="submit" name="post_id" class="btn btn-info btn-sm">
              Comments
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %} {% endblock content %}
