{% extends 'blog/base.htm' %} {% load static %} {% block content %}
<link href="{% static 'css/home.css'%}" rel="stylesheet" />

<div class="row pt-4">
  <div class="col-9">
    <div class="card w-100 p-4 mb-4">
      <div class="row">
        <div class="col-10 pl-5 pt-2">
          <form class="form-group row">
            <h5>{{post.author}}</h5>
            <p class="card-subtitle mb-2 text-muted pl-3 pt-2">
              | {{post.date_posted}}
            </p>
          </form>
        </div>
        <div class="col-1"></div>
      </div>
      <hr />
      <img class="card-img-top" src="{{post.image.url}}" width="100%" />
      <hr />
      <div class="card-body">
        <p class="card-text">{{object.content}}</p>
      </div>
    </div>
  </div>
  <div class="col-3">
    {% if object.author == user %}
    <a
      class="btn btn-secondary btn-sm mt-1 mb-1"
      href="{% url 'post-update' object.id %}"
      >Update</a
    >
    <a
      class="btn btn-danger btn-sm mt-1 mb-1"
      href="{% url 'post-delete' object.id %}"
      >Delete</a
    >
    {% endif %}
  </div>
  <br />
  <hr />
  <br />
  {% if user.is_authenticated %}
  <form action="{% url 'like_post' object.id %}" method="POST">
    {% csrf_token %}

    {% if post_is_liked %}
    <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-info">Unlike</button>
    {% else %}
    <button type="submit" name="post_id" value="{{object.id}}" class="btn btn-info">Like</button>
    {% endif %}
  </form>
{% else %}
  <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to like this article!</a><br>
{% endif %}
<strong class="text-secondary">{{ total_likes }} Like{{ total_likes|pluralize }}</strong>
</div>

{% endblock content %}
