{% extends 'blog/base.htm' %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="content-section">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="mb-4 text-center">New blog</legend>
          {{form|crispy}}
        </fieldset>
        <div class="form-group text-center">
          <button class="btn btn-outline-info btn-block" type="submit">Post</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
